body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
}

h1 {
  width: 20vw;
  padding: 2rem 3rem;
  color: #cfc547;
  text-shadow: 10px 10px 25px rgb(81, 67, 21), -10px 10px 25px rgb(81, 67, 21),
    -10px -10px 25px rgb(81, 67, 21), 10px -10px 25px rgb(81, 67, 21);
}

#poster-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movie-container {
  width: 15vw;
  min-width: 250px;
  min-height: 350px;
  max-height: 600px;

  border: 2px solid #cfc547;
  border-radius: 1rem;
  margin: 1.5rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 200ms;
}

.movie-container:hover {
  box-shadow: 10px 10px 25px rgb(81, 67, 21), -10px 10px 25px rgb(81, 67, 21),
    -10px -10px 25px rgb(81, 67, 21), 10px -10px 25px rgb(81, 67, 21);
}

.poster-img {
  width: 13vw;
  height: 40vh;
  min-width: 200px;
  min-height: 350px;
  max-height: 600px;
  padding: 1.5rem 0.5rem;
}

.movie-title {
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  color: #cfc547;
  text-shadow: 10px 10px 25px rgb(81, 67, 21), -10px 10px 25px rgb(81, 67, 21),
    -10px -10px 25px rgb(81, 67, 21), 10px -10px 25px rgb(81, 67, 21);
}
